{% extends 'base.html'%}

{% block head %}

<title>Admin Panel - ParaBank</title>

{% endblock %}


{% block body %}

<p>Admin Panel</p>

<table>
    <tr>
        <th>Pesel</th>
        <th>Users's Login</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Account active</th>
    </tr>
    {% for item in users %}
    <tr>
        <td>{{ item.pesel }}</td>
        <td>{{ item.login }}</td>
        <td>{{ item.first_name }}</td>
        <td>{{ item.last_name }}</td>
        <td>
            {% if item.account_active == True %}
                <td>Yes</td>
            {% else %}
                <td>No</td>
            {% endif %}
        </td>
    </tr>
    <!-- to do dezaktywuj konto -->
    {% endfor %}
</table>


<a href="{{ url_for('logout') }}" class="link">wylogowanie</a>

{% endblock %}