{% extends 'base.html'%}

{% block head %}

<title>ParaBank Dashboard</title>
<style>
    .container {
        height: 100vh;
        display: flex;
        justify-content: center; 
        align-items: center; 
    }
    .link {
        color: blue;
    }
</style>
{% endblock %}


{% block body %}

<div class="container">
    <a href="https://www.youtube.com/watch?v=pw4nxAnaOuE" class="link">wpadles w ruw</a>
    <a href="{{ url_for('logout') }}" class="link">wylogowanko</a>
</div>



{% endblock %}