{% extends 'base.html'%}

{% block head %}

<title>ParaBank Dashboard</title>
<style>
    .container {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .link {
        color: blue;
    }
</style>
{% endblock %}


{% block body %}

<div class="container">
    <a href="https://www.youtube.com/watch?v=pw4nxAnaOuE" class="link" target="_blank">wpadles w ruw</a>
    <a href="{{ url_for('make_transfer') }}" class="link">Wykonaj przelew</a>
    <a href="{{ url_for('transfer_history') }}" class="link">Historia przelewów</a>
    <a href="{{ url_for('logout') }}" class="link">wylogowanie</a>
</div>



{% endblock %}