{% extends 'base.html'%}

{% block head %}

<title>Logowanie - ParaBank</title>

{% endblock %}


{% block body %}


<form method="POST" action="">
    {{ form.hidden_tag() }}
    {{ form.login }}
    {{ form.password }}
    {{ form.submit }}
</form>

{% if error == 1 %}
    <p>Twoje konto zostało dezaktywowane</p>
{% endif %}

<a href="{{ url_for('register') }}">Nie masz konta? Zarejestruj sie</a>
<a href="{{ url_for('employee_login') }}">Jesteś pracownikiem? Zaloguj się tutaj</a>

{% endblock %}


