{% extends 'base.html'%}

{% block head %}

<title>Historia przelewow - ParaBank</title>

{% endblock %}


{% block body %}

<table>
    <tr>
        <th>Type</th>
        <th>Receiver Name</th>
        <th>Amount</th>
        <th>Title</th>
        <th>Date</th>
        <th>Receiver IBAN</th>
        <th>Sender IBAN</th>
    </tr>
    {% for item in transfers %}
        <tr>
            {% if item.sender_id == current_customer_id %} <!-- wychodzacy -->
                <td>OUT</td>
                <td>{{ item.receiver_name }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.formatted_date }}</td>
                <td>{{ item.receiver_iban }}</td>
                <td>(Yours)</td>

            {% else %}
                <td>IN</td>
                <td> You</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.title }}</td>
                <td>{{ item.formatted_date }}</td>
                <td>(Yours)</td>
                <td>{{ item.sender_iban }}</td>
            {% endif %}
        </tr>
    {% endfor %}
</table>

<form method="get" action="/transfer_history">
    <input type="hidden" name="offset" value="{{ offset + limit }}">
    <button type="submit">Load More</button>
</form>

<a href="{{url_for('dashboard')}}">Powrót do panelu</a>

{% endblock %}


